* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 2px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.container .profile_pic {
  display: flex;
  justify-content: center;
}
.container .profile_pic img {
  border: 5px solid royalblue;
  border-radius: 100%;
}

.profile_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile_info h1 {
  font-size: 2.3rem;
}

.profile_info a {
  text-decoration: none;
  font-size: 1.5rem;
}
